@tailwind base;
@tailwind components;
@tailwind utilities;

/* Web Scrolling Fixes */
html, body, #root {
  height: auto !important;
  min-height: 100% !important;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}